Package: libbison-dev
Source: bison
Version: 2:3.2.2-1
Architecture: amd64
Maintainer: Chuan-kai Lin <cklin@debian.org>
Installed-Size: 530
Recommends: bison
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.gnu.org/software/bison/
Description: YACC-compatible parser generator - development library
 Bison is a general-purpose parser generator that converts a
 grammar description for an LALR(1) context-free grammar into a C
 program to parse that grammar.  Once you are proficient with Bison, you
 may use it to develop a wide range of language parsers, from those used
 in simple desk calculators to complex programming languages.
 .
 This package provides the liby.a file including functions needed by
 yacc parsers.
